@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Figtree", sans-serif !important;
}

:root {
  --background: #030500;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030500;
    /* --font-fig-tree: 'Figtree', sans-serif;  */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
@layer utilities {

/* For WebKit browsers (Chrome, Safari, Edge) */
  .my-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  .my-scrollbar::-webkit-scrollbar-track {
    background: #F7F4FF;
    /* Color of the track */

  }



  /* Handle (scrollbar thumb) */
  .my-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A7FC00;
    border-radius: 100px;
    width: 4px;
    height: 4px;

  }
     /* Hide scrollbar for Chrome, Safari and Opera */
     .no-scrollbar::-webkit-scrollbar {
       display: none;
     }
  
     /* Hide scrollbar for IE, Edge and Firefox */
     .no-scrollbar {
       -ms-overflow-style: none;
       /* IE and Edge */
       scrollbar-width: none;
       /* Firefox */
     }

     
}
.side-link-list {
  
  overflow-y: hidden;
  transition: overflow-y 0.2s ease-in-out;
  /* background: #007bff; */
  
}

.side-link-list:hover {
  overflow-y: auto;
}

.side-link-list::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

.side-link-list::-webkit-scrollbar-button {
  display: none;
}

.side-link-list::-webkit-scrollbar {
  width: 6px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 100px;
}

.side-link-list::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Thumb color */
  border-radius: 100px;
  border: 3px solid transparent;
  /* background-clip: padding-box; */
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 2.5s ease-out;
}
