@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030500;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030500;
    --font-fig-tree: 'Figtree', sans-serif; /* Fallback included */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-fig-tree);
}
@layer utilities {

/* For WebKit browsers (Chrome, Safari, Edge) */
  .my-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  .my-scrollbar::-webkit-scrollbar-track {
    background: #F7F4FF;
    /* Color of the track */

  }



  /* Handle (scrollbar thumb) */
  .my-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A7FC00;
    border-radius: 100px;
    width: 4px;
    height: 4px;

  }
     /* Hide scrollbar for Chrome, Safari and Opera */
     .no-scrollbar::-webkit-scrollbar {
       display: none;
     }
  
     /* Hide scrollbar for IE, Edge and Firefox */
     .no-scrollbar {
       -ms-overflow-style: none;
       /* IE and Edge */
       scrollbar-width: none;
       /* Firefox */
     }

     
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 2.5s ease-out;
}
